.task-content {
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    padding: 15px;
    gap: 20px;

    & .content:first-of-type {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;

        & div {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        & div:last-of-type {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: 10px;

            & span {
                display: inline-block;
                padding:  3px 7px;
                border-radius: 1000px;
                background-color: rgb(156, 151, 151);
            }
        }
    }

    & .content:last-of-type {
        width: 20px;
        height: 100%;
        border-radius: var(--radius-sm);
        background-color: red;
    }
}