.footer-container {
    width: 100%;
    /* height: var(--footer-height); */
    /* background-color: black; */
    padding: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    & img {
        width: 28px;
        height: 28px;
    }

    & a {
        color: var(--black);
        opacity: 0.5;
        transition: var(--def-transition);
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}

.footer-content:last-of-type {
    gap: 25px;
}

