& input.def-input,
& select.def-input {
    height: 45px;
    border: none;
    outline: none;
    background-color: #f9f9f9;
    border-radius: var(--radius-sm);
    border: 1px solid #EEEEEE;
    padding-inline: 12px;
    font-size: medium;
    transition: var(--def-transition);
    flex-grow: 1;
/* 
    &:not(select) {
    } */

    &:hover,
    &:focus {
        border: 1px solid #afafaf;
    }
}

& div.input-title {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;

    & input {
        flex-grow: 1;
    }
}