@import url('./ComponentVariables.css');

.sidebar-container {
    width: var(--sidebar-max-width);
    background-color: var(--sidebar-bg-color);
    box-shadow: var(--sidebar-box-shadow);
    transition: var(--def-transition);
}

@media screen and (max-width: 1150px) {
    .sidebar-container {
        width: var(--sizebar-min-width);
    }
}


@media screen and (max-width: 590px) {
    .sidebar-container {
        width: 0px;
        
        .sidebar-content {
            display: none;
        }
    }
}