@import url('./ComponentVariables.css');

:root {
    --sidebar-content-gap: 20px;

    --sidebar-header-height: calc(var(--header-min-height) + 20px);

    --sidebar-border: 2px solid #eeeeee;

    --sidebar-def-padding: 15px;
}

.sidebar-container {
    width: var(--sidebar-max-width);
    height: 100vh;
    background-color: var(--sidebar-bg-color);
    box-shadow: var(--sidebar-box-shadow);
    transition: var(--def-transition);
}

.sidebar-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.sidebar-content-header {
    width: 100%;
    height: var(--sidebar-header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--sidebar-def-padding);
    position: relative;
    border-bottom: var(--sidebar-border);

    & img {
        height: 50%;
    }

    & h3 {
        font-weight: 900;
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .button-toggle-sidebar-w {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);
        box-shadow: var(--sidebar-box-shadow);
        background-color: #fff;
        border-radius: 10000px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: var(--def-transition);

        &:hover {
            background-color: #dddddd;
        }

        & img {
            transform: rotate(180deg);
        }
    }
}

.sidebar-content-menu {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 var(--sidebar-def-padding);

    .sidebar-sub-menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: var(--sidebar-def-padding) 0;

        &:not(:first-child) {
            padding-top: 0;
        }

        & h4 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & ul {
            display: flex;
            flex-direction: column;
            padding-left: 5px;
            gap: 5px;
            padding-top: var(--sidebar-def-padding);

            .sidebar-sub-menu-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: start;
                padding: 10px var(--sidebar-def-padding);
                gap: 10px;
                border-radius: var(--radius-sm);
                transition: var(--def-transition);

                & img {
                    opacity: 0.8;
                }

                & span {
                    opacity: 0.8;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &:hover {
                    background-color: var(--color-black-05);
                    cursor: pointer;

                    & img,
                    & span {
                        opacity: 1;
                    }
                }
            }
        }

    }
}

.sidebar-content-company {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 20px;

    .company-profile {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: var(--sidebar-def-padding);

        & img {
            height: 100%;
            width: auto;
        }

        .company-name {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            overflow: hidden;

            & h3,
            & span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            & span {
                color: var(--text-tag-color)
            }
        }
    }
}

.sidebar-container-min {
    width: var(--sizebar-min-width);

    .sidebar-content {

        .sidebar-content-header {

            & h3 {
                display: none;
            }

            .button-toggle-sidebar-w {
                & img {
                    transform: rotate(0deg);
                }
            }
        }

        .sidebar-content-menu {

            .sidebar-sub-menu {
                padding: var(--sidebar-def-padding) 0;

                & h4 {
                    display: none;
                }

                &:not(:last-child) {
                    border-bottom: var(--sidebar-border);
                }

                & ul {
                    padding: 0;

                    .sidebar-sub-menu-item {
                        justify-content: center;

                        & span {
                            display: none;
                        }
                    }
                }

            }
        }

        .sidebar-content-company {
            .company-profile {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .company-name {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    .sidebar-container {
        width: var(--sizebar-min-width);
    }

    .sidebar-content {

        .sidebar-content-header {

            & h3 {
                display: none;
            }

            .button-toggle-sidebar-w {
                display: none;
            }
        }

        .sidebar-content-menu {

            .sidebar-sub-menu {

                & h4 {
                    display: none;
                }

                &:not(:last-child) {
                    border-bottom: var(--sidebar-border);
                }

                & ul {
                    padding: 0;

                    .sidebar-sub-menu-item {
                        justify-content: center;

                        & span {
                            display: none;
                        }
                    }
                }

            }
        }

        .sidebar-content-company {
            .company-profile {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .company-name {
                    display: none;
                }
            }
        }
    }
}


@media screen and (max-width: 590px) {
    .sidebar-container {
        width: 0px;

        .sidebar-content {
            display: none;
        }
    }
}