/* .task-item {
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F6F6F6;
    padding: var(--search-sub-content-pad);
    border-radius: var(--radius-sm);
}

.task-item > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-item-start-content {
    flex-grow: 1;
    gap: 20px;
    

    & div {
        flex-grow: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }

    .task-color {
        height: 100%;
        width: 20px;
        background-color: #A9C352;
    }

    .task-data-form-1 {

        & span {
            font-size: small;
            color: var(--text-tag-color)
        }
    }

    .task-data-form-2 {
        align-items: center;

        & p:first-of-type {
            font-size: 15px;
            font-weight: bold;
        }
    }

    .task-data-form-3 {
        align-items: center;
        
        & a {
            text-decoration:underline;
            color: var(--text-tag-color);
        }
    }
}

.task-item-end-content {
    gap: var(--search-gap);

    & button {
        border: none;
        outline: none;
        width: 32px;
        height: 32px;
        padding: 9px;
        border-radius: var(--radius-sm);
        
        
        & img {
            width: 100%;
        }
    }

    & button:first-of-type {
        background-color: #BFBFBF;
    }

    & button:last-of-type {
        background-color: #A9C352;
    }
}


.task-item-start-content p,
.task-item-start-content span,
.task-item-start-content a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */


.task-row {
    font-size: 0.9rem;
    padding: 15px;
    display: grid;
    grid-template-columns: 20px repeat(3, 1fr) minmax(150px, 1.5fr) repeat(3, 1fr) repeat(1, 2.5fr) auto;
    grid-template-rows: 45px;
    align-items: center;
    gap: 12px;
    background: #F6F6F6;
    border-radius: var(--radius-sm);
}

@media (max-width: 1600px) {
    .task-row {
        grid-template-columns: 20px 1fr 0px 1f minmax(150px, 1.5fr) repeat(4, 1fr) repeat(1, 2.5fr) auto;
    }
}

@media (max-width: 1550px) {
    .task-row {
        grid-template-columns: 20px 1fr 0px 1fr minmax(150px, 1.5fr) 1fr 0px repeat(1, 1fr) repeat(1, 2fr) auto;
    }
}

@media (max-width: 1500px) {
    .task-row {
        grid-template-columns: 20px 1fr 0px 1fr minmax(150px, 1.5fr) 1fr 0px 0px repeat(1, 2fr) auto;
    }
}

@media (max-width: 1450px) {
    .task-row {
        grid-template-columns: 20px minmax(100, 150px) 0px 1fr minmax(150px, 1.5fr) 0px 0px 0px repeat(1, 2fr) auto;
    }
}

@media (max-width: 1000px) {
    .task-row {
        grid-template-columns: 20px 0px 0px minmax(110px, 1fr) minmax(150px, 1.5fr) 1fr 0px 0px repeat(1, 2fr) auto;
    }
}

@media (max-width: 850px) {
    .task-row {
        grid-template-columns: 20px 0px 0px minmax(110px, 1fr) minmax(150px, 1.5fr) 0px 0px 0px repeat(1, 2fr) auto;
    }
}

@media (max-width: 700px) {

    .task-row {
        gap: 0px;
        grid-template-columns: 0px 0px 0px repeat(1, 0.8fr) 0px 0px 0px 0px repeat(1, 1fr) auto;
    }

    .action-buttons {
        padding-left: 10px;
    }

    .cell {
        font-size: 0.8rem;
    }

}

.color-indicator {
    height: 100%;
    background-color: #a5c45a;
    border-radius: 3px;
}

.cell {
    gap: 5px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-data-form-1 {

    & span {
        font-size: small;
        color: var(--text-tag-color)
    }
}

.task-data-form-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-data-form-3 {
    display: flex;
    flex-direction: column;
    align-items: center;

    & a {
        text-decoration: underline;
        color: var(--text-tag-color);
    }
}

.action-buttons {
    display: flex;
    gap: 4px;
    justify-content: flex-end;

    & button {
        border: none;
        outline: none;
        width: 32px;
        height: 32px;
        padding: 9px;
        border-radius: var(--radius-sm);


        & img {
            width: 100%;
        }
    }

    & button:first-of-type {
        background-color: #BFBFBF;
    }

    & button:last-of-type {
        background-color: #A9C352;
    }
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    overflow: auto;
    z-index: 999;
    padding: 50px 20px;
}

.popup {
    width: 60%;
    background: #fff;
    padding: 22px;
    border-radius: var(--radius-lg);
    min-width: 450px;
    max-width: 1000px;
}

.img-popup {
    /* width: 300px; */
    padding: 22px;
    /* background-color: #f0f0f0; */
    border-radius: var(--radius-lg);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 400px;
    gap: 10px;

    & img {
        width: 120px;
        border-radius: var(--radius-sm);
        height: 180px;
        object-fit: cover;
    }
}   

/* div.task-type {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & span {
        font-size: 0.9rem;
    }
} */

/* div.task-type div {
    cursor: default;
    resize: none;
    height: 45px;
    background-color: #f9f9f9;
    border-radius: var(--radius-sm);
    border: 1px solid #EEEEEE;
    padding: 12px 15px;
    font-size: .9rem;
    transition: var(--def-transition);
    flex-grow: 1;

    &:hover,
    &:focus {
        border: 1px solid #afafaf;
    }

    &::placeholder {
        color: var(--color-text-placeholder);
    }
} */