& div.input-title {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    /* background-color: wheat; */

    & span {
        font-size: 0.9rem;
    }

    & input {
        flex-grow: 1;
    }
}

& input.def-input,
& select.def-input,
& textarea.def-input {
    resize: none;
    height: 45px;
    border: none;
    outline: none;
    background-color: #f9f9f9;
    border-radius: var(--radius-sm);
    border: 1px solid #EEEEEE;
    padding: 12px 15px;
    font-size: .9rem;
    transition: var(--def-transition);
    flex-grow: 1;
/* 
    &:not(select) {
    } */

    &:hover,
    &:focus {
        border: 1px solid #afafaf;
    }

    &::placeholder {
        color: var(--color-text-placeholder);
    }
}
