:root {
    --addtask-gap: 20px;
    --addtask-sub-content-pad: var(--card-def-pad);
}

.addtask-header {

    & span {
        padding-top: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }
}

.addtask-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--addtask-gap) 10%;
}

.addtask-sub-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--addtask-sub-content-pad);
    gap: 5px;
}

textarea.note {
    min-height: 100px;
}

.image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: calc(var(--addtask-gap) - 10px);
}

.image-button-group {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: calc(var(--addtask-gap) - 10px);
}

.image-list {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 10px;
    flex-wrap: wrap;


    .image-item {
        height: 240px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        position: relative;
        background-color: #FAFAFA;
        border-radius: var(--radius-sm);
        transition: var(--def-transition);
        
        .img {
            min-width: 140px;
            max-width: 240px;
            height: 100%;
            border-radius: var(--radius-sm);
            overflow: hidden;
            
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        &:hover {
            background-color: #f0f0f0;

            & button {
                opacity: 8;
                height: 30px;
            }
        }
    
        & button {
            overflow: hidden;
            border-radius: 0 0 var(--radius-sm) var(--radius-sm);
            border: none;
            outline: none;
            height: 0px;
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%, 0);
            flex: 1;
            width: calc(100% - 20px);
            transition: var(--def-transition);
            background-color: rgba(255, 24, 24, 0.925);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

div.input-title {
    position: relative;
}

.popup-recommand-data-container {
    display: none;
    position: absolute;
    top: 78px;
    width: 100%;
    height: 200px;
    background-color: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
    border-radius: var(--radius-sm);
    border: 1px solid var(--input-border-color);
    margin-top: 5px;
    z-index: 10;
}


&:has(.def-input[name="name"]:focus) {
    .name-recommand-popup {
        display: block;
    }
}

&:has(.def-input[name="phone"]:focus) {
    .phone-recommand-popup {
        display: block;
    }
}

@media (max-width: 1245px) {
    .addtask-content {
        padding: 20px;
    }
}

@media (max-width: 860px) {
    .input-title {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }
}