:root {
    --alltask-gap: 20px;
    --alltask-sub-content-pad: var(--card-def-pad);
}

.alltask-content-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.alltask-content {
    display: flex;
    flex-direction: column;
    padding: var(--addtask-gap);
    gap: var(--alltask-gap);
}

.alltask-sub-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--alltask-gap);
}

.alltask-sub-content-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.filter-item {
    display: flex;
    gap: 10px;
}

.task-list-container {
    height: 100%;
    justify-content: space-between;
}

.task-list {
    gap: 5px;
}

.pagination-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.all-pagination {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.pagination-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: var(--radius-sm);
    background-color: #EDEDED;
    cursor: pointer;
    transition: var(--def-transition);
    outline: none;
    border: none;

    & img {
        height: 12px;        
    }

    &:first-of-type {
        & img {
            transform: rotate(180deg);
        }
    }

    &:hover {
        background-color: #dfdfdf;
    }
}

.pagination-item:disabled {
    cursor: not-allowed;

    & img {
        opacity: 0.5;
    }
    
    &:hover {
        background-color: #EDEDED;
    }
}

.pagination-item.active {
    border: 1px solid #767171;

}

