/* Globle Style */

@import url('./Variables.css');
@import url('./Font.css');
@import url('@styles/components/controller/input.css');
@import url('@styles/components/controller/button.css');
@import url('@styles/components/hr.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    background-color: var(--main-bg-color);
}

a {
    text-decoration: none;
    color: var(--black);
}

.card {
    box-shadow: var(--card-box-shadow);
    background-color: var(--card-bg-color);
    border-radius: var(--card-radius);
}

.round-vsm {
    border-radius: 3px;
}

.round-sm {
    border-radius: var(--radius-sm);
}

.round-md {
    border-radius: var(--radius-md);
}

.round-lg {
    border-radius: var(--radius-lg);
}

.row {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: start;
    gap: 20px;
    flex-wrap: wrap;
    /* background-color: thistle; */
}

.row-end {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: end;
    justify-content: end;
    gap: 20px;
    flex-wrap: wrap;
    /* background-color: thistle; */
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: 100%;
    gap: 20px;
    /* background-color: turquoise; */
}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}