/* Globle Style */

@import url('./Variables.css');
@import url('./Font.css');
@import url('@styles/components/input.css');
@import url('@styles/components/hr.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    background-color: var(--main-bg-color);
}

a {
    text-decoration: none;
    color: var(--black);
}

.card {
    box-shadow: var(--card-box-shadow);
    background-color: var(--card-bg-color);
    border-radius: var(--card-radius);
}

.round-vsm {
    border-radius: 3px;
}

.round-sm {
    border-radius: var(--radius-sm);
}

.round-md {
    border-radius: var(--radius-md);
}

.round-lg {
    border-radius: var(--radius-lg);
}

.row {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: tomato;
}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
    align-items: center;
}