:root {
    /* Layout */
        /* Header */
        --header-min-height: 70px;
        --header-radius: var(--radius-md);
        --header-bg-color: var(--white);
        --header-box-shadow: 0 0 10px var(--color-black-05);

        /* Sidebar */
        --sidebar-max-width: 320px;
        --sidebar-min-width: 90px;
        --sidebar-bg-color: var(--white);
        --sidebar-box-shadow: 0 0 10px var(--color-black-05);

        /* Footer */
        --footer-height: 100px;

    /* Color */
    --main-bg-color: #FEFEFE;
    --white: #FFFFFF;
    --black: #000000;
    --color-black-05: rgba(0, 0, 0, 0.05);
    --color-black-03: rgba(0, 0, 0, 0.03);

    /* Input */
    --input-font-size: 15px;
    
    --input-border-color: #E2E2E2;
    --input-border-color-focus: #C0C0C0;
    
    --input-border-radius: 1000px;
    --input-border-size: 2px;
    --input-border: var(--input-border-size) solid var(--input-border-color);
    --input-border-focus: var(--input-border-size) solid var(--input-border-color-focus);

    --input-pad-v: 15px;
    --input-pad-h: 20px;

    --def-transition: 0.3s ease;

    /* Text */
    --text-tag-color: #AEAEAE;

    /* Radius */
    --radius-sm: 5px;
    --radius-md: 10px;
    --radius-lg: 15px;

    /* Card */
    --card-bg-color: var(--white);
    --card-radius: var(--radius-md);
    --card-box-shadow: 0 0 10px var(--color-black-05);
    --card-def-pad: 15px 20px;
}