:root {
    --main-bg-color: #FEFEFE;
    --white: #FFFFFF;
    --black: #000000;

    /* Input */
    --input-font-size: 16px;
    
    --input-border-color: #E2E2E2;
    --input-border-color-focus: #C0C0C0;
    
    --input-border-radius: 1000px;
    --input-border-size: 2px;
    --input-border: var(--input-border-size) solid var(--input-border-color);
    --input-border-focus: var(--input-border-size) solid var(--input-border-color-focus);

    --input-pad-v: 15px;
    --input-pad-h: 20px;

    --input-transition: 0.3s ease;

    /* Text */
    --text-tag-color: #AEAEAE;
}