@import url('../../styles.css');

.login-form {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.card h1 {
    color: var(--black);
    margin-bottom: 20px;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: var(--input-pad-v) var(--input-pad-h);
    border: var(--input-border);
    border-radius: var(--input-border-radius);
    transition: var(--input-transition);
    cursor: text;

    .login-input {
        width: 100%;
        border: none;
        background: var(--white);
        font-size: var(--input-font-size);
        outline: none;
    }
}


.input-container:has(.login-input:focus) {
    border: var(--input-border-focus);
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .login-button {
        width: 100%;
        padding: var(--input-pad-v) var(--input-pad-h);
        border: none;
        border-radius: var(--input-border-radius);
        background: var(--black);
        color: var(--white);
        font-size: var(--input-font-size);
        cursor: pointer;
        transition: var(--input-transition);

        &:hover {
            background-color: #424242;
        }
    }

    & h3 {
        color: var(--text-tag-color);
    }


    .sub-button-container {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;

        & a {
            display: block;
            text-align: center;
            font-size: var(--input-font-size);
            font-weight: normal;
            border-radius: var(--input-border-radius);
            flex-grow: 1;
            flex-basis: 0;
            padding: var(--input-pad-v) var(--input-pad-h);
            transition: var(--input-transition);

            &:first-child {
                color: #34A853;
                border: 2px solid #34A853;
            }
            
            &:last-child {
                color: #1877F2;
                border: 2px solid #1877F2;
            }

            &:hover {
                border-color: var(--black);
                color: var(--black);
            }
        }
    }
}



@media screen and (max-width: 600px) {
    .card {
        width: 100%;
        max-width: 100%;
        padding: 0 var(--input-pad-h);
    }
}