@import url('../../styles.css');

:root {
    --card-max-width: 430px;
    --component-gap: 30px;

    --card-user-remember-item-w: 150px;
    --card-user-remember-item-h: 200px;
    --card-user-remember-item-border: 1px solid var(--input-border-color);

    --input-height: 52px;

    --button-facebook-bg-color: #1877F2;
    --button-google-bg-color: #34A853;

    --icon-size: 16px;
    --icon-opacity: 0.4;
    --icon-cancel-pos: 10px;

}

.login-form {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--component-gap);
}

.card {
    width: 100%;
    max-width: var(--card-max-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--component-gap);
}

.card h1 {
    color: var(--black);
    margin-bottom: 20px;
}

.input-username-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    gap: 10px;

    .user-remember-selected {
        box-sizing: border-box;
        width: 52px;
        height: var(--input-height);
        overflow: hidden;
        background-color: var(--black);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover; 
            object-position: center center;
            display: block;
            border: 2px solid var(--white);
        }
    }

    .input-container {
        width: auto;
        flex-grow: 1;
        cursor: default;
    }

}


.input-container {
    align-self: stretch;
    height: var(--input-height);
    display: flex;
    flex-direction: row;
    padding: var(--input-pad-v) var(--input-pad-h);
    border: var(--input-border);
    border-radius: var(--input-border-radius);
    transition: var(--input-transition);
    cursor: text;

    & img.button-in-input {
        opacity: var(--icon-opacity);
        width: var(--icon-size);
        height: var(--icon-size);
        cursor: pointer;
        transition: var(--input-transition);

        &:hover {
            opacity: 1;
        }
    }

    .login-input {
        width: 100%;
        border: none;
        background: var(--white);
        font-size: var(--input-font-size);
        outline: none;
    }

    &:has(.login-input:focus) {
        border: var(--input-border-focus);
    }
}

.button-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .login-button {
        width: 100%;
        padding: var(--input-pad-v) var(--input-pad-h);
        border: none;
        border-radius: var(--input-border-radius);
        background: var(--black);
        color: var(--white);
        font-size: var(--input-font-size);
        cursor: pointer;
        transition: var(--input-transition);

        &:hover {
            opacity: 0.8;
        }
    }

    & h3 {
        color: var(--text-tag-color);
    }


    .sub-button-container {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;

        & a {
            display: block;
            text-align: center;
            font-size: var(--input-font-size);
            font-weight: normal;
            border-radius: var(--input-border-radius);
            flex-grow: 1;
            flex-basis: 0;
            padding: var(--input-pad-v) var(--input-pad-h);
            transition: var(--input-transition);

            &:first-child {
                color: var(--button-google-bg-color);
                border: 2px solid var(--button-google-bg-color);
            }

            &:last-child {
                color: var(--button-facebook-bg-color);
                border: 2px solid var(--button-facebook-bg-color);
            }

            &:hover {
                border-color: var(--black);
                color: var(--black);
            }
        }
    }
}

.users-remember-list {
    max-width: none;
    flex-direction: row;
    justify-content: center;
    overflow-x: auto;
    gap: 10px;
    margin-top: 5vh;

    .user-remember-item {
        position: relative;
        width: var(--card-user-remember-item-w);
        height: var(--card-user-remember-item-h);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--white);
        border-radius: 10px;
        border: var(--card-user-remember-item-border);
        transition: var(--input-transition);
        padding: 0 10px;
        cursor: pointer;

        &:hover {
            border-color: var(--input-border-color-focus);
        }

        .button-cancel-remember {
            position: absolute;
            right: var(--icon-cancel-pos);
            top: var(--icon-cancel-pos);

            & img {
                width: var(--icon-size);
                height: auto;
                opacity: var(--icon-opacity);
                transition: var(--input-transition);

                &:hover {
                    opacity: 1;
                }
            }
        }

        .user-remember-item-img {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            border: 2px solid var(--black);
            overflow: hidden;

            & img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                object-position: center center;
                display: block;
                border: 2px solid var(--white);
            }
        }

        & h5 {
            width: 100%;
            text-align: center;
        }
    }
}


@media screen and (max-width: 600px) {
    .card {
        width: 100%;
        max-width: 100%;
        padding: 0 var(--input-pad-h);
    }
}