:root {
  --dashboard-gap: 15px;

  --dashboard-sub-content-pad: var(--card-def-pad);
}

.dashboard-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--dashboard-gap);
}

.dashboard-content-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--dashboard-gap);
}

.dashboard-sub-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--dashboard-sub-content-pad);
    gap: var(--dashboard-gap);
    
}

.dashboard-sub-content-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: var(--dashboard-sub-content-pad);
  gap: var(--dashboard-gap);
}

.status-task-list {
  display: flex;
  flex-direction: row;
  gap: var(--dashboard-gap);
  flex-wrap: wrap;
}

@media (max-width: 830px) {
  .dashboard-content-row {
    flex-direction: column;
  }
}

.input-selector {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background-image: url('@assets/icons/drop.png');
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  padding-right: 1.8rem;
  font-size: .9rem;
}