:root {
    --search-gap: 15px;

    --search-sub-content-pad: var(--card-def-pad);
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--search-sub-content-pad);
    gap: var(--search-gap);
}

.search-form-input-container {
    width: 800px;
    gap: calc(var(--search-gap) + 5px);
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
}

.search-form-input-container:first-of-type {
    padding: 10px 100px;
}

.search-result-list-content {
    display: flex;
    flex-direction: column;
    padding: var(--search-sub-content-pad);
    gap: 20px;
}

.search-filter-content {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .search-filter-item {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .filter-check-input-content {
            display: flex;
            gap: 10px;

            & label {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 5px;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.search-task-result-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 1220px) {
    .search-form-input-container:first-of-type {
        padding: 10px 0px;
    }

    .search-form-input-container {
        flex-wrap: wrap;
        width: 100%;
    }
}